<%= form_with(model: @property, local: true) do |form| %>

  <ul>
    <li>
      <%= form.label :物件名 %>
      <%= form.text_field :property_name %>
    </li>
    <li>
      <%= form.label :家賃 %>
      <%= form.text_field :rent %>円
    </li>
    <li>
      <%= form.label :築年数 %>
      <%= form.number_field :built_year %>年
    </li>
    <li>
      <%= form.label :住所 %>
      <%= form.text_field :address %>
    </li>
    <li>
      <%= form.label :備考 %>
      <%= form.text_area :remark %>
    </li>
  </ul>
  <hr>
  <% number = 0 %>
  <%= form.fields_for :stations do |station_form| %>
  <ul>
  <h2>最寄駅<%= number += 1 %></h2>
    <li>
      <%= station_form.label :路線名 %>
      <%= station_form.text_field :line_name %>
    </li>
    <li>
      <%= station_form.label :最寄駅 %>
      <%= station_form.text_field :station_name %>
    </li>
    <li>
      <%= station_form.label :徒歩分数 %>
      <%= station_form.number_field :walking_minutes %>分
    </li>
  </ul>
  <% end %>
  <div><%= form.submit :登録する %></div>
<% end %>
<br>
<%= link_to '戻る', properties_path %>